<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/css/style.css" />
    <title><%- title -%></title>
  </head>
  <body class="d-flex flex-column min-vh-100">
    <!-- Social navbar -->
    <nav
      class="navbar navbar-expand-md bg-light navbar-light p-0 d-none d-md-block"
    >
      <div class="container-lg">
        <ul class="navbar-collapse navbar-nav d-flex justify-content-center">
          <li class="nav-item">
            <a href="#" class="nav-link">
              <i class="bi bi-facebook"></i>
            </a>
          </li>
          <li class="nav-item">
            <a href="#" class="nav-link">
              <i class="bi bi-twitter"></i>
            </a>
          </li>
          <li class="nav-item">
            <a href="#" class="nav-link">
              <i class="bi bi-instagram"></i>
            </a>
          </li>
        </ul>
      </div>
    </nav>
    <!-- End Social navbar -->

    <!-- Logo Section -->
    <section class="p-2">
      <div
        class="container-lg d-flex justify-content-sm-evenly align-items-center"
      >
        <div class="logo-container">
          <img
            class="img-fluid"
            src="https://via.placeholder.com/275x80?text=Logo"
            alt="Placeholder Logo"
          />
        </div>
        <div class="lbad-container d-none d-lg-block">
          <img src="https://via.placeholder.com/728x90" alt="Leaderboard Ad" />
        </div>
      </div>
    </section>
    <!-- End Logo Section -->

    <!-- Categories Navbar -->
    <nav class="navbar navbar-expand-md bg-primary navbar-dark">
      <div class="container-lg">
        <button
          class="navbar-toggler"
          type="button"
          data-bs-toggle="collapse"
          data-bs-target="#catMenu"
        >
          <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="catMenu">
          <ul class="navbar-nav category-nav">
            <li class="nav-item me-4 text-uppercase">
              <a href="#" class="nav-link">Category 1</a>
            </li>
            <li class="nav-item me-4 text-uppercase">
              <a href="#" class="nav-link">Category 2</a>
            </li>
            <li class="nav-item me-4 text-uppercase">
              <a href="#" class="nav-link">Category 3</a>
            </li>
            <li class="nav-item me-4 text-uppercase">
              <a href="#" class="nav-link">Category 4</a>
            </li>
            <li class="nav-item me-4 text-uppercase">
              <a href="#" class="nav-link">Category 5</a>
            </li>
          </ul>
        </div>
      </div>
    </nav>
    <!-- End Categories Navbar -->
  </body>
</html>
