<!-- Post Preview -->
<article class="container-fluid mb-4">
  <div class="row">
    <div class="col-md-5">
      <a href="/single">
        <img
          src="https://source.unsplash.com/random"
          alt="Post preview"
          class="img-fluid mb-3 post-preview-image"
        />
      </a>
    </div>
    <div class="col-md-7">
      <h2 class="text-uppercase mb-4">
        <a href="/single" class="link-primary  text-decoration-none"
          >10 Little Known Secrets That Will Help You Make Money</a
        >
      </h2>

      <p>
        <small
          >By <a href="#" class="link-primary">Joe Blow</a> |
          <a href="#" class="link-primary"> Sept 20, 2003</a></small
        >
      </p>
      <p class="category-buttons">
        <small>
          Topics:
          <a href="#" class="btn btn-outline-primary btn-sm me-1">Sports</a>
          <a href="#" class="btn btn-outline-primary btn-sm me-1">Funny</a>
          <a href="#" class="btn btn-outline-primary btn-sm me-1">Crazy</a>
        </small>
      </p>
      <p class="mb-1">
        Lorem ipsum dolor sit amet consectetur, adipisicing elit. Ipsum, id
        error. Excepturi cumque eius distinctio ratione quae adipisci magnam a.
      </p>
      <p><a href="/single">Read more...</a></p>
    </div>
    <hr />
  </div>
</article>
<!-- End Post Preview -->
