      <!-- Post Preview -->
      <article>
        <a href="#" class="link-primary">
          <img
            src="https://source.unsplash.com/random/800x600"
            alt="Post preview"
            class="img-fluid object-fit-contain mb-3"
          />
        </a>
        <p>
          <small
            >By <a href="#" class="link-primary">Joe Blow</a> |
            <a href="#" class="link-primary"> Sept 20, 2003</a></small
          >
        </p>

        <a href="#" class="link-primary text-uppercase">
          <h2 class="mb-4">What makes a great headline?</h2>
        </a>
        <p class="category-buttons">
          <small>
            Topics:
            <a href="#" class="btn btn-outline-primary btn-sm me-1">Sports</a>
            <a href="#" class="btn btn-outline-primary btn-sm me-1">Funny</a>
            <a href="#" class="btn btn-outline-primary btn-sm me-1">Crazy</a>
          </small>
        </p>
        <p class="mb-1">
          Lorem ipsum dolor sit amet consectetur, adipisicing elit. Ipsum, id
          error. Excepturi cumque eius distinctio ratione quae adipisci magnam
          a.
        </p>
        <p><a href="#">Read more...</a></p>
        <hr />
      </article>
      <!-- End Post Preview -->
