<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/css/main.css" />
    <title><%- title -%></title>
  </head>
  <body class="d-flex flex-column min-vh-100">
    <!-- prettier-ignore -->
    <!-- <%- include('../partials/_header.ejs') %> 
    <%- include('../partials/_footer.ejs') %> -->

    <!-- Social navbar -->
    <nav
      class="navbar navbar-expand-md bg-light navbar-light p-0 d-none d-md-block"
    >
      <div class="container-lg">
        <ul class="navbar-collapse navbar-nav d-flex justify-content-center">
          <li class="nav-item">
            <a href="#" class="nav-link">
              <i class="bi bi-facebook"></i>
            </a>
          </li>
          <li class="nav-item">
            <a href="#" class="nav-link">
              <i class="bi bi-twitter"></i>
            </a>
          </li>
          <li class="nav-item">
            <a href="#" class="nav-link">
              <i class="bi bi-instagram"></i>
            </a>
          </li>
        </ul>
      </div>
    </nav>
    <!-- End Social navbar -->

    <!-- Logo Section -->
    <section class="p-2">
      <div class="container-lg">
        <img
          src="https://via.placeholder.com/275x80?text=Logo"
          alt="Placeholder Logo"
        />
      </div>
    </section>
    <!-- End Logo Section -->

    <!-- Categories Navbar -->
    <nav class="navbar navbar-expand-md bg-primary navbar-dark">
      <div class="container-lg">
        <button
          class="navbar-toggler"
          type="button"
          data-bs-toggle="collapse"
          data-bs-target="#catMenu"
        >
          <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="catMenu">
          <ul class="navbar-nav">
            <li class="nav-item">
              <a href="#" class="nav-link">Category 1</a>
            </li>
            <li class="nav-item">
              <a href="#" class="nav-link">Category 2</a>
            </li>
            <li class="nav-item">
              <a href="#" class="nav-link">Category 3</a>
            </li>
            <li class="nav-item">
              <a href="#" class="nav-link">Category 4</a>
            </li>
            <li class="nav-item">
              <a href="#" class="nav-link">Category 5</a>
            </li>
          </ul>
        </div>
      </div>
    </nav>
    <!-- End Categories Navbar -->

    <!-- Footer -->
    <footer class="bg-dark text-secondary pt-5 pb-2 mt-auto">
      <div class="container">
        <div class="row">
          <div class="col-md-4 footer-widget">
            <h4 class="text-uppercase">Recent Posts</h4>
            <small>
              <ul class="list-unstyled">
                <li class="py-1">
                  <a class="link-secondary" href="#"
                    >A Lot Longer of Title Here</a
                  >
                </li>
                <li class="py-1">
                  <a class="link-secondary" href="#"
                    >What's the Deal With Politics? Am I Right?</a
                  >
                </li>
                <li class="py-1">
                  <a class="link-secondary" href="#">Gitty Up!</a>
                </li>
                <li class="py-1">
                  <a class="link-secondary" href="#">Link 4</a>
                </li>
              </ul>
            </small>
          </div>

          <div class="col-md-4">
            <h4 class="text-uppercase">Categories</h4>
            <p>
              <small>
                Lorem ipsum, dolor sit amet consectetur adipisicing elit. Iste
                labore consequuntur necessitatibus iusto, quasi facere. Itaque
                quas repudiandae, quos, aliquam officia deserunt eos explicabo
                eveniet sed distinctio in dolorem repellat!
              </small>
            </p>
          </div>
          <div class="col-md-4">
            <h4 class="text-uppercase">Textual Widget</h4>
            <small>
              <p>
                Lorem ipsum, dolor sit amet consectetur adipisicing elit. Iste
                labore consequuntur necessitatibus iusto, quasi facere. Itaque
                quas repudiandae, quos, aliquam officia deserunt eos explicabo
                eveniet sed distinctio in dolorem repellat!
              </p>
            </small>
          </div>
        </div>
        <hr class="border" />
        <div class="text-center">
          <!-- Social Icons and Links -->
          <ul class="list-inline">
            <li class="list-inline-item">
              <a href="#" class="link-secondary">
                <i class="bi bi-facebook"></i>
              </a>
            </li>
            <li class="list-inline-item">
              <a href="#" class="link-secondary">
                <i class="bi bi-twitter"></i>
              </a>
            </li>
            <li class="list-inline-item">
              <a href="#" class="link-secondary">
                <i class="bi bi-instagram"></i>
              </a>
            </li>
          </ul>

          <p>Copyright &copy;2023 - Website Name. All Rights Reserved</p>
          <!-- End Social Icons and Links -->
        </div>
      </div>
    </footer>
    <!-- End Footer -->

    <!-- End Categories Navbar -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js"></script>
  </body>
</html>
