<!-- prettier-ignore -->
<%- include('./partials/header.ejs') %>

<div class="container">
  <h1>Home Page</h1>
</div>

<!-- prettier-ignore -->
<!-- <%- include('./partials/sidebar.ejs') %> -->
<%- include('./partials/footer.ejs') %>
