<!-- prettier-ignore -->
<%- include('./partials/header.ejs') %>

<div class="container-xl">
  <div class="row">
    <!-- Content -->
    <div class="col-md-8">
      <!-- Post Preview -->
      <article class="container-fluid mb-4">
        <h2 class="text-uppercase mb-4">
          10 Little Known Secrets That Will Help You Make Money
        </h2>
        <img
          src="https://source.unsplash.com/random/800x600?aviation"
          alt="Featured image"
          class="mb-3 post-featured-image"
        />
        <p>
          <small
            >By <a href="#" class="link-primary">Joe Blow</a> |
            <a href="#" class="link-primary"> Sept 20, 2003</a></small
          >
        </p>

        <div class="article-body">
          <p>
            Lorem ipsum dolor sit, amet consectetur adipisicing elit. Quos velit
            aliquid reprehenderit deleniti perspiciatis alias, sit dolore. Earum
            sint officia nisi repellat. Animi dolor facere inventore cumque
            maxime non voluptatem.
          </p>
          <h2>
            Lorem ipsum, dolor sit amet consectetur adipisicing elit. Alias,
            magnam?
          </h2>
          <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Ipsum
            corporis sint, molestiae laudantium nostrum quia odit optio,
            pariatur ad cum commodi soluta nulla ut! Architecto, soluta cum
            libero cupiditate est blanditiis eaque ullam magnam delectus.
          </p>
          <p>
            Id quasi odio laudantium, debitis, quas, commodi rerum eum possimus
            error est magni. Sequi ex, pariatur nisi asperiores amet
            reprehenderit mollitia voluptatem ad maiores suscipit. Harum rem
            quaerat dolore qui ab soluta eum! Debitis at omnis necessitatibus
            consectetur et repudiandae eos nesciunt culpa illum nulla!
          </p>
          <h2>
            Labore, iste rerum! Ipsum reiciendis perferendis provident laborum
            at harum architecto esse.
          </h2>
          <p>
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Beatae rem
            libero voluptates.
          </p>
          <h3>Iste harum distinctio mollitia est consequuntur ducimus</h3>
          <p>
            Lorem ipsum, dolor sit amet consectetur adipisicing elit. Sapiente
            alias ratione iste dicta corrupti veniam reiciendis quia tempora,
            quos voluptatem!
          </p>
          <h3>Molestias fugiat eligendi nemo dolorem cupiditate atque!</h3>
          <p>
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Minus
            maiores eius quibusdam repellat et nisi.
          </p>
          <blockquote class="blockquote">
            <p>
              "Lorem ipsum dolor sit, amet consectetur adipisicing elit. Minima
              quia officia reiciendis natus, voluptatibus architecto fugiat eum
              aperiam vitae quasi! A est incidunt soluta, nisi officia harum
              voluptatem eos perspiciatis."
            </p>
          </blockquote>

          <p>
            Lorem, ipsum dolor sit amet consectetur adipisicing elit. Iusto
            harum amet sequi commodi nisi error reiciendis atque optio?
            Temporibus, quia? Tenetur reiciendis ea nisi. Dignissimos magnam
            sapiente blanditiis fugiat omnis!
          </p>
          <p>
            Lorem, ipsum dolor sit amet consectetur adipisicing elit. Iusto
            harum amet sequi commodi nisi error reiciendis atque optio?
            Temporibus, quia? Tenetur reiciendis ea nisi. Dignissimos magnam
            sapiente blanditiis fugiat omnis!
          </p>
          <p>
            Lorem, ipsum dolor sit amet consectetur adipisicing elit. Iusto
            harum amet sequi commodi nisi error reiciendis atque optio?
            Temporibus, quia? Tenetur reiciendis ea nisi. Dignissimos magnam
            sapiente blanditiis fugiat omnis!
          </p>
          <h2>Last Headline of the Article</h2>

          <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Porro quo
            magnam maiores laboriosam quidem, temporibus exercitationem
            recusandae saepe deleniti cumque!
          </p>
          <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Commodi
            aperiam reprehenderit dolorem earum necessitatibus sapiente ipsa
            illo? Unde velit maxime facere omnis porro cumque consectetur?
          </p>

          <p class="category-buttons">
            <small>
              Topics:
              <a href="#" class="btn btn-outline-primary btn-sm me-1">Sports</a>
              <a href="#" class="btn btn-outline-primary btn-sm me-1">Funny</a>
              <a href="#" class="btn btn-outline-primary btn-sm me-1">Crazy</a>
            </small>
          </p>
        </div>
        <hr />
        <!-- Comment Form -->
        <div class="comment-form">
          <h2>Leave a comment</h2>
          <div class="container-fluid">
            <form>
              <div class="row mb-3">
                <div class="col-md-6">
                  <label for="name" class="form-label">Name:</label>
                  <input type="text" class="form-control" id="name" />
                </div>
              </div>
              <div class="row mb-3">
                <div class="col-md-6">
                  <label for="email" class="form-label">Email:</label>
                  <input type="email" class="form-control" id="email" />
                </div>
              </div>
              <div class="row mb-3">
                <div class="col">
                  <label for="commentBody" class="form-label">Comment:</label>
                  <textarea
                    class="form-control"
                    name="commentBody"
                    id="commentBody"
                    cols="30"
                    rows="10"
                  ></textarea>
                </div>
              </div>
              <div class="row">
                <div class="col">
                    <button type="submit" class="btn btn-primary">Post comment</button>
                </div>
              </div>
            </form>
          </div>
        </div>
        <!-- Comment Form -->
      </article>
      <!-- End Post Preview -->
    </div>
    <!-- End Content -->

    <!-- Sidebar -->
    <div class="col-md-4">
      <h3>Sidebar</h3>
    </div>
    <!-- End Sidebar -->
  </div>
</div>

<!-- prettier-ignore -->
<!-- <%- include('./partials/sidebar.ejs') %> -->
<%- include('./partials/footer.ejs') %>
